body{
    background-color: #24353F;
}

.container{
    background-color: #24353F;

}
.main{
    box-shadow:  -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

h1{
    color: #17A2B8;
}
input{
    background-color: transparent !important;
    color: #fff !important;
}
.form-control:focus {
    color: #495057 ;
    background-color: #fff ;
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0px 0px 0px 0px !important;
}
::placeholder{
    color: #B6B6B6 !important;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:hover{
    color: #fff !important;
}

.navbar{
    background-color: #24353F !important;
    box-shadow:  -5px 2px 54px -9px rgba(0, 0, 0, 1) !important;
}
.logout-btn{
    border: 2px solid #FFC107;
    background-color: #24353F !important;
    cursor: pointer;
    
}
.logout-an{
    text-decoration: none !important;
    color:#495057 !important;
    transition: all 0.2s;
}

.logout-an:hover .logout-btn{
    background-color: #FFC107 !important;
    color: white !important;
}